.link-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 120px);
  padding: 0 7rem;
}
.link-container h1 {
  color: #fff;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0.2rem;
}
.link {
  width: 100%;
  height: auto;
  min-height: 13rem;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  justify-content: center;
}
.link input {
  width: 20vw;
  height: 3.5vh;
  flex-shrink: 0;
  border-radius: 32px;
  border: 0.5px solid #112530;
  background-color: #112530;
  padding: 0.5rem 2rem;
  margin: 0.2rem;
  color: white;
  font-size: 1rem;
}
.p-btn {
  width: 5vw;
  height: 52px;
  flex-shrink: 0;
  border-radius: 32px;
  border: 0.5px solid #112530;
  background: #083744;
  color: rgba(255, 255, 255, 0.6);
  font-family: "DM Sans", sans-serif;
}
.s-btn {
  width: 28.5vw;
  padding: 14px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  border: 0.5px solid #112530;
  background: #083744;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.1px;
  margin-top: 1rem;
}
.link-img {
  width: 50px;
}

.personOne {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 30px;
  background: linear-gradient(
    90deg,
    rgba(8, 71, 106, 0.5) 20.57%,
    rgba(8, 71, 106, 0.5) 74.37%
  );

  overflow-wrap: break-word;
}
.personTwo {
  /* border-top-right-radius: 10px; */
  border-top-left-radius: 10px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 30px;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(15, 126, 120, 0.5) 20.57%,
    rgba(15, 126, 120, 0.5) 74.37%
  );

  overflow-wrap: break-word;
}

.message_text_container {
  padding: 10px 10px 20px 10px;
  font-size: 0.9rem;
  /* border-top-left-radius: 10px; */
  max-width: 70%;
  margin-bottom: 15px;
  text-align: left;
}

.link-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  /* height: calc(100vh - 120px); */
}

@media (max-width: 480px) {
  .link-container h1 {
    font-size: 2rem;
    padding: 1rem;
  }
  .link {
    display: flex;
    flex-direction: column;
  }
  .link img {
    width: 70px;
    margin-left: auto;
    margin-right: auto;
  }
  .link input {
    width: 30vw;
    height: 2.5vh;
    padding: 0.5rem 2rem;
    margin: 0.2rem;
    font-size: 0.7rem;
    margin-left: auto;
    margin-right: auto;
  }
  .s-btn {
    padding-left: 30px;
    padding-right: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-size: 1rem;
  }
  .p-btn {
    padding-left: 40px;
    padding-right: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    font-size: 1rem;
  }
}
