.navbar-container{
    width: 95vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding-top: 1rem;
    margin-left: 2.4vw;
}
.web-name{
    font-weight: bold;
    color: white;
    font-weight: 600;
    font-size: 2.5rem;
    font-style: normal;
    line-height: 29.404px; 
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding-left: 8vh;
}
ul{
    display: flex;
}
li{
    list-style: none;
}
.cht-link{
    text-decoration: none;
    padding: 1.3rem;
    margin-right: 2rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 1.4rem;
    color: white;
}
.btn{
    text-decoration: none;
    padding: 0.8rem 2.5rem;
    margin-right: 1rem;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #05404D;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

@media (max-width: 480px) {
    .web-name{
        font-size: 1.5rem;
        padding-left: 3vh;
    }
    .cht-link{
        font-size: 1rem;
        margin-right: 0rem;
    }
    .link{
        margin-right: 0.1rem;
    }
    .btn{
        padding: 0.5rem 1.0rem;
        font-size: 1rem;
    }
}